body{
    background-color: aqua;
}
.my_portfolio{
    width: 300px;
    background-color: bisque;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    border: 2px solid green;
    margin-top: 60px;
    padding-top: 15px;
}
img{
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
    padding: auto;
    padding-top: 15px;
}
p{
    margin-top: 0;
    margin-bottom: 5px;
    text-align: center;
    padding-top: 15px;
}
.h4{
    font-family: 'Poppins', sans-serif;
    margin-bottom: -8px;
}
.h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-bottom: -9px;
}
.h5{
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-size: small;
}
a{
    text-decoration: none;
    padding-right: 5px;
    margin-right: -10px;
    margin-top: 0;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: center;
}
h2{
    text-align: center;
    padding-top: 15px;
}
.linkport{
    text-align: center;
}
.twitter{
    padding-left: 58px;
}
footer{
    padding-bottom: 15px;
}
hr{
    margin-bottom: 8px;
}